
        *{ /*기본 속성 초기화*/
            font-family: 'Noto Sans KR', sans-serif; /*구글폰트 css부분 삽입*/
            list-style: none; /*목록 속성 없애기*/
            text-decoration: none; /*밑줄, 색 없애기*/
            border-collapse: collapse;/*테이블 떨어져있는 선 붙여주기*/
            margin: 0px;
            padding: 0px;
            color: black;
        }
/*각 폰트 사이즈 정의*/
h1 {
    font-size: 46px;
    text-align: center;
}

h4 {
    font-size: 20px;
}

.content {
    text-align: center;
    font-size: 20px;
    color: rgb(145, 10, 44);
    font-weight: bold;
}

.contnet_bold{
    font-size: 25px;
    font-weight: bold;
}

.icon {
    text-align: center;
    font-size: 30px;
}

.text {
    font-size: 20px;
    color: gray; 
    text-align: center;
}
/*----------------------*/

.intro_bg{ /*배경*/
    background-image: url("images/intro_bg.jpg");
    width: 100%;
    height: 718px;
}

.header{ /*전체 상단바*/
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.search_area{/*검색바*/
    width: 350px;
    height: 40px;
    background: rgba(0,0,0,0.5);/*반투명한 검은색*/
    border-radius: 10px;
    margin-top: 22px;
}

.search_area > form > input {/*검색창*/
    border: none;
    width:250px;
    height: 40px;
    background: rgba(0,0,0,0.0);/*투명*/
    color: #fff;
    padding-left: 20px;
}

.search_area > form > span {/*search버튼*/
    width:50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer ;
    padding-left: 10px;
}

.nav{ /*네비바*/
    display: flex;
    justify-content: flex-end; /*네비바 오른쪽 끝에 붙이기*/
    line-height: 86px;
    width: calc(1280px - 350px);/*전체 상단바-검색바*/
    color: #fff;
    padding-right: 20px;
}


.nav > li{ /*네비 목록*/
    margin-left: 84px;
    
}

.nav > li > a{ /*네비 목록 a태그*/
    color:#fff
    
}

.introduce {
    position: relative; /*현재위치*/
    top: -66px; /*현재위치에서 위로 -66px만큼 움직임*/
    display: flex;
    width: 1280px;
    background: blueviolet;
    margin: auto; /*가운데*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);/*그림자효과 px:오른쪽-아래-흐려짐정도*/
}

.introduce > li {
    background: #fff;
    flex: 1; /*자식요소에서 한자리씩 차지*/
    height: 132px; /*박스 전체 높이*/
}

.introduce > li > div {
    text-align: center;
    height: 57px;
    margin-top: 37px;
}

/*중간 회색 라인(마지막 요소 예외 = 맨 오른쪽 제외)*/
.introduce > li:not(:last-child) > div{ 
    border-right: 1px solid rgb(199, 198, 198);
}


.intro_text{
    width:100%;
    margin:231px auto 231px auto; /*세로 가운데--> 상, 우, 좌, 하 순서로 마진*/
    text-align: center; /*가로 가운데*/
}

.intro_text > h1,
.intro_text > h4 {
    color:#fff
}

/* main_text*/
.main_text{
    width: 100%;
    height: 600px;
    background: rgb(237, 237, 237);
    margin-top : -132px; /*올라간 박스 높이만큼 - */
}

.main_text > h1 {
    padding-top: 116px;
    text-align: center;
}

.main_text > content {
    text-align: center;
}

.icon > ul {
    display: flex; /*한줄에 세분할 하기 위해*/
    width: 1280px;
    height: 300px;
    margin: auto;
}

.icon > ul > li {
    flex: 1;
    height: 300px;
    background: white;
    margin-top: 50px;
}
/*가운데 구분선만 빈공간으로 두기 위해*/
.icon > ul > li:not(:last-child) {
    margin-right: 20px; 
}

.more {
    width: 100px;
    height: 30px;
    font-size: 17px;
    background: rgb(61, 61, 245);
    color: #fff;
    line-height: 30px;
    margin: 20px auto;
    border-radius : 20px
}

.last_text {
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.service {
    width: 1280px;
    display: flex;
    margin: 60px auto;
    height: 500px;
}

.service > .content2 {
    padding: 50px;
}

.main_text2 {
    width: 100%;
    background-image: url("images/last.jpg");
    height: 320px;
    margin-top: -50px;
}

.main_text2 li {
    text-align: center;
    padding-top: 100px;
}




