
        *{ /*기본 속성 초기화*/
            font-family: 'Noto Sans KR', sans-serif; /*구글폰트 css부분 삽입*/
            list-style: none; /*목록 속성 없애기*/
            text-decoration: none; /*밑줄, 색 없애기*/
            border-collapse: collapse;/*테이블 떨어져있는 선 붙여주기*/
            margin: 0px;
            padding: 0px;
            color: black;
        }

.intro_bg{ /*배경*/
    background-image: url("images/intro_bg.jpg");
    width: 100%;
    height: 718px;
}

.header{ /*전체 상단바*/
    display: flex;
    width: 1280px;
    margin: auto;
    height: 86px;
}

.searchArea{/*검색바*/
    width: 350px;
    height: 40px;
    background: rgba(0,0,0,0.5);/*반투명한 검은색*/
    border-radius: 10px;
    margin-top: 22px;
}

.searchArea > form > input {/*검색창*/
    border: none;
    width:250px;
    height: 40px;
    background: rgba(0,0,0,0.0);/*투명*/
    color: #fff;
    padding-left: 20px;
}

.searchArea > form > span {/*search버튼*/
    width:50px;
    color:#fff;
    font-weight: bold;
    cursor: pointer ;
    padding-left: 10px;
}

.nav{ /*네비바*/
    display: flex;
    justify-content: flex-end; /*네비바 오른쪽 끝에 붙이기*/
    line-height: 86px;
    width: calc(1280px - 300px);
    color: #fff;
    padding-right: 20px;
}


.nav > li{ /*네비 목록*/
    margin-left: 84px;
    
}

.nav > li > a{ /*네비 목록 a태그*/
    color:#fff
    
}